
.todoList > div {
  padding: 10px;
}

.todoList-task {
border: 3px solid;
  border-radius: 20px;
  margin: 2px 1px;
}
.filter-active {
  background-color: brown;
}
.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}



.TodoListApp {
  display: flex;
  flex-direction: row;
}

.todoList {
  width: 300px;
}
.priority{
  color: black;
  margin-right: 10px;
}
.greenPriority{
  background-color: green;
  margin-right: 10px;
}
.redPriority{
  background-color: red;
  margin-right: 10px;
}
.pr{
  margin-left: 10px;
}
.task {
  display: flex;
}
.deleteButton{
  width: 30px;
  height: 30px;
 margin-left: 3px;
}



